 #navbarScroll {
     display: flex;
     flex-basis: auto;
     justify-content: space-between;
 }

 .linkHome {
     display: flex;
     align-items: center;

 }

 .cartButton {
     padding: 0.5rem 1.5rem;
     background-color: #003865;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: 1rem;
     border-radius: 20px;
     box-shadow: 0px 0px 10px 0px #003865;
     cursor: pointer;
 }

 .cartButton span {
     background-color: #ef5b0c;
     font-size: 12px;
     height: 1.5rem;
     width: 1.5rem;
     display: flex;
     margin-left: 0.5rem;
     justify-content: center;
     align-items: center;
     border-radius: 100%;
     box-shadow: 0px 0px 10px 0px #000;
 }

 .linkHome a {
     font-weight: 500;
     font-size: 20px;
     color: #082A4F;

     padding-left: 1rem;
 }

 .linkUser {
     display: flex;
     align-items: center;
 }

 .logo {
     font-weight: 500;
     font-size: 25px;
     color: #082A4F;
     display: flex;
     align-items: center;
     padding-right: 2rem;
 }

 .login a {
     font-weight: 400;
     font-size: 20px;
     color: #082A4F;
     text-decoration: none;
     padding-right: 2rem;
 }

 .signUplink a {
     font-weight: 400;
     font-size: 20px;
     color: #082A4F;
     text-decoration: none;
     padding-right: 1rem;
 }

 .inputFindNow {
     border: 1px solid #8fa2c0;
     border-radius: 27px;
     width: 18rem;
     padding-left: 1rem;
     font-weight: 400;
     font-size: 20px;
     color: #8fa2c0;
 }

 .searchBtn {
     border-radius: 27px;
     font-weight: 500;
     padding-left: 2rem;
     margin-left: -5rem;
     font-size: 20px;
     padding-right: 2rem;
     color: #ffffff;
     background-color: #082A4F !important;
     border-color: #082A4F !important;
 }

 .addToCardLink {
     font-size: 34px;
     text-align: center;
     display: flex;
     align-items: center;
     color: #082A4F;
     margin-left: 1rem;

 }

 .addToCardLink:hover {
     color: #082A4F;
 }

 .heartLink {
     font-size: 32px;
     color: #082A4F;
     position: relative;
     margin-left: 1rem;
     bottom: 3px;
 }

 .heartLink:hover {
     color: #082A4F;
 }

 .linkAddtocard {
     display: flex;

 }


 @media (min-width: 320px) and (max-width: 750px) {
     .navLab {
         display: none;
     }

     .offcanvas.show {
         transform: none;
         background-color: #082A4F;
         ;
     }

     .navMobile {
         padding: 1rem;
     }

     .navLogo {
         padding-left: 2.1rem;
         color: #ffffff;
     }

     .boxLogo {
         display: flex;
         justify-content: space-between;
     }


     .linkMobile a {
         color: #ffffff;
     }

     .headingLogo a {
         font-size: 26px;
         color: #082A4F;
     }



     .toggleBtn {
         font-size: 26px;
         display: flex;
         align-items: baseline;
     }

     .icon {
         font-size: 26px;
         margin: 1rem;
         color: #ffffff;
     }
 }

 @media (min-width: 1080px) and (max-width: 2400px) {
     .navMobile {
         display: none;
     }

 }