 #navbarScroll {
     display: flex !important;
     flex-basis: auto;
     justify-content: space-between !important;
 }


 .logo {
     font-weight: 500;
     font-size: 25px;
     color: #082A4F;
 }

 .login {
     font-weight: 400;
     font-size: 20px;
     color: #000000 !important;
     text-decoration: none;
 }

 .signUplink {
     font-weight: 400;
     font-size: 20px;
     color: #000000 !important;
     text-decoration: none;
 }

 a {
     color: #082A4F !important;
 }

 a :hover {
     color: #000000 !important;
 }

 .signUp {
     font-weight: 400;
     font-size: 20px;
     color: #000000 !important;
     text-decoration: none;
 }

 .navbar-expand-lg .navbar-collapse {
     display: flex !important;
     flex-basis: auto;
     justify-content: space-between;
 }

 .inputFindNow {
     border: 1px solid #8fa2c0;
     border-radius: 27px;
     padding: 8px;
     padding-left: 2.8rem;
     font-weight: 400;
     font-size: 20px;
     color: #8fa2c0;
 }

 .btn-primry {
     color: #f09133 !important;

 }

 .inputFindNow {
     border: 1px solid #8fa2c0;
     border-radius: 27px;

     width: 18rem;
     padding-left: 1rem;
     font-weight: 400;
     font-size: 20px;
     color: #8fa2c0;
 }

 .searchBtn {
     border-radius: 27px;
     font-weight: 500;
     padding-left: 2rem;
     font-size: 20px;
     padding-right: 2rem;
     color: #ffffff;
     position: relative;
     right: 3rem;
     background-color: #082A4F !important;
     border-color: #082A4F !important;
 }

 .addToCard {
     font-size: 3rem;
     text-align: center;
     display: flex;
     align-items: center;

 }

 .heartNav {
     font-size: 32px;

     position: relative;
     left: 1rem;
 }

 .linkAddtocard {
     display: flex;

 }

 @media (min-width: 320px) and (max-width: 750px) {
     .navLab {
         display: none;
     }

     .navMobile {
         padding: 1rem;
     }

     .navLogo {
         padding-left: 2.1rem;
     }

     .boxLogo {
         display: flex;
         justify-content: space-between;
     }

     .heartNav {
         font-size: 32px;
         position: relative;
         left: 0.5rem;
     }

     .headingLogo {
         font-size: 26px;
     }

     .toggleBtn {
         font-size: 26px;
         display: flex;
         align-items: baseline;
     }

     .icon {
         font-size: 26px;
         margin: 1rem;
     }
 }

 @media (min-width: 1080px) and (max-width: 2400px) {
     .navMobile {
         display: none;
     }

 }