.forgetSection {
    background-image: url('../assets/Img/backimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.headingForget {
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.41px;
    color: #082A4F
}

.detailsForget {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
}

.inputBoxForget {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1rem;
    flex-direction: column;
}

.emailInput {
    background: #082A4F;
    border-radius: 6px;
    font-size: 16px;
    border: none;
    padding-left: 1rem;
    padding-right: 3rem;
    width: 100%;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #FFFFFF;
}

.submitBtn {
    border-radius: 27px;
    font-weight: 500;
    font-size: 20px;
    padding-right: 8rem;
    padding-left: 7rem;
    align-items: center;
    display: flex;
    color: #ffffff !important;
    position: relative;
    right: 0rem;
    top: 1rem;
    background: #F2281A !important;
    border-radius: 10px;
    border-color: #F2281A !important;

}

.submitBox {
    position: relative;
    top: 2rem;
    display: flex;
    justify-content: center;
}

.forgetContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToLogin {
    position: relative;
    top: 5rem;
}


.linkBackToLogin {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-decoration-line: underline !important;
    color: rgba(0, 0, 0, 0.6) !important;
}

@media (min-width: 320px) and (max-width: 650px) {
    .forgetSection {
        padding: 0%;
    }

    .detailsForget {
        width: 86%;
        text-align: center;
    }

    .forgetContainer {
        position: relative;
        bottom: 3rem;
    }
}