.otpSection {
    background-image: url('../assets/Img/backimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headingOtp {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #082A4F;
}

.detailsOtp {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
}

.inputBoxOtp {
    display: flex;
    justify-content: center;
    position: relative;
    top: 2rem;
}

.inputFiled1 {
    width: 54px;
    height: 48px;
    border: 1px solid #082A4F;
    border-radius: 10px;

    text-align: center;
    font-size: 25px;
    position: relative;
    right: 1rem;
}

.inputFiled2 {
    width: 54px;
    height: 48px;
    border: 1px solid #082A4F;
    border-radius: 10px;
    font-size: 25px;

    text-align: center;
    position: relative;

}

.inputFiled3 {
    width: 54px;
    height: 48px;
    border: 1px solid #082A4F;
    border-radius: 10px;
    font-size: 25px;
    position: relative;

    text-align: center;
    /* padding-left: 2rem; */
    left: 1rem;

}

.inputFiled4 {
    width: 54px;
    height: 48px;
    border: 1px solid #082A4F;
    border-radius: 10px;
    font-size: 25px;
    position: relative;

    text-align: center;
    /* padding-left: 2rem; */
    left: 2rem;
}

.verify {
    display: flex;
    justify-content: center;
    position: relative;
    top: 4rem;
}

.btnVerify {
    border-radius: 27px;
    font-weight: 500;
    font-size: 20px;
    padding-right: 5rem;
    padding-left: 5rem;
    align-items: center;
    display: flex;
    color: #ffffff !important;
    position: relative;
    /* right: 0rem; */
    left: 1rem;
    top: 1rem;
    background: #F2281A !important;
    border-radius: 10px;
    border-color: #F2281A !important;

}

@media (min-width: 320px) and (max-width: 650px) {
    .otpSection {
        padding-top: 1rem;
    }

    .btnVerify {
        padding-right: 5.9rem;
        padding-left: 5.9rem;
        left: 0.5rem;
        top: 1rem;
    }
}