.containerBox {
    height: 100vh;
    background-color: #082A4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.msgOrder {
    font-weight: 500;
    font-size: 30px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 3rem;
}

.orderId {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 1rem;
}

.thankOrder {
    text-align: center;
    color: #FFFFFF;
    padding-top: 4rem;
}

.deatilsThankYou {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.orderShiipedText {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.traceOrder {
    border-radius: 27px;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;

    background: #F2281A;
    border-radius: 10px;
    border-color: #F2281A;

}

.linkTrack {
    color: #FFFFFF;
}

.linkTrack:hover {
    color: #FFFFFF;
}

.btnTraceOrder {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.continueShop {
    display: flex;
    color: #FFFFFF;
    text-decoration-line: underline !important;
}

.linkSuccess {
    color: #FFFFFF;
}

.linkSuccess:hover {
    color: #FFFFFF;
}

@media (min-width: 320px) and (max-width: 650px) {
    .containerBox {

        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    /* 
    .traceOrder {
        width: 100%;
        padding-left: 4rem;
        padding-right: 4rem;
    } */
}